---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Logo from "../components/Logo.astro";


---

<Layout title="ABOUT and the word as god">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC&family=Roboto+Flex:opsz,slnt,wdth,wght@8..144,-10..0,25..151,100..1000&display=swap" rel="stylesheet">
	

	
<Logo />
	<p>
		And the word was God (神) is an immersive exploration of
		language and its appearances in a world where diverse cultures
		have the opportunity to thrive side by side with each other. It
		invites audiences to reflect upon their own experiences with
		language in order to foster dialogue and understanding on the
		path to a future of multicultural flourishing.
	</p>

	<p class="CJK">
		and the word was God (神) 考察了澳大利亞漢語和英語之間的關繫。
		這是三位從事視頻藝術、詩歌和版式設計的第一代澳大利亞華人之間的合作，每位藝術家都利用自己的生活經驗來探索他們所説的語言如何隨着時間的推移而使用、交流和轉變。
		通過三種實踐方式之間的共鳴，本次展覽髮現了澳大利亞語言交流的過去、現在和未來之間的動態聯繫。
	</p>

	<main>
		<div lang="en-US">				
			‘And the word was God (神)’ examines the relationship between
			Chinese and English languages in Australia. A collaboration
			between three first-generation Chinese Australians working in
			video art, poetry and typography design, each artist draws upon
			their lived experience to explore how the languages they speak
			are used, exchanged and transformed across time. Through the
			sympathy between three modalities of practice, this exhibition
			discovers dynamic connections between the past, present and
			future of language exchange in Australia.
			<br>
			Time: Mon 10 Oct. – Wed 12 Oct, 2024 <br />
			Address: Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008		</div>
		<div class="chinese"   lang="zh-Hans">
			and the word was God (神) 考察了澳大利亞漢語和英語之間的關繫。
			這是三位從事視頻藝術、詩歌和版式設計的第一代澳大利亞華人之間的合作，每位藝術家都利用自己的生活經驗來探索他們所説的語言如何隨着時間的推移而使用、交流和轉變。
			通過三種實踐方式之間的共鳴，本次展覽髮現了澳大利亞語言交流的過去、現在和未來之間的動態聯繫。
			<br>
						时间：2024年10月10日周一至10月12日周三<br />
			地址：Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008
		</div>
			
		</main>

		<img src="/images/homepage_img.jpg" alt="" />

		<br>
		<h2 lang="en-US">	<div class="variable">		
			Opening Night 开幕
		</h2>
	</div>	
		<p>
		Time 时间: 		<br>
		Mon 10 Oct. – Wed 12 Oct, 2024 
		<br>
		<br>
		Address 地点: 		<br>
		Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008
		</p>

		<h2 lang="en-US">		<div class="variable">				
			Panel Discussion 研讨会
		</h2>
	</div>
		<p>
		Time 时间: 		<br>
		Mon 10 Oct. – Wed 12 Oct, 2024 
		<br>
		<br>
		Address 地点: 		<br>
		Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008
		</p>

		<h5>
			Speacial thanks to the support from .....
		</h5>


</Layout>
<Nav />

		<style>


	main {
	max-width: 800px;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	gap: 2rem;
	margin: 0 2 2 0;
	container-type: block-size;
}

main > div {
	aspect-radio: 1;
	width: 100%;
}

.chinese{
	height: 20rem;
}



[lang='zh-Hans'] {
	writing-mode: vertical-rl; /* 将文字设置为水平排列 */
	display: block; /* 确保文字在需要时自动换行 */
	overflow:hidden;
 	text-overflow:ellipsis;

}

  .variable {
    display: flex;
    font-variation-settings: "wght"200, "wdth"50;
    text-align: center;
    animation: swapthings 3.5s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  }



  @keyframes swapthings {
    0% {
      font-variation-settings: "wght"200, "wdth"50;
    }

    50% {
      font-variation-settings: "wght"900, "wdth"200;
    }

    100% {
      font-variation-settings: "wght"200, "wdth"50;
    }
  }

  @keyframes swapthings2 {
    0% {
      font-variation-settings: "wght"700, "wdth"200;
    }

    50% {
      font-variation-settings: "wght"200, "wdth"50;
    }

    100% {
      font-variation-settings: "wght"700, "wdth"200;
    }
  }

		</style>