---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Welcome to Astro.">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC&family=Roboto+Flex:opsz,slnt,wdth,wght@8..144,-10..0,25..151,100..1000&display=swap"
		rel="stylesheet"
	/>

	<header>
		<div class="eng-homepage">
			<p>
				‘And the word was God (神)’ examines the relationship between
				Chinese and English languages in Australia. A collaboration
				between three first-generation Chinese Australians working in
				video art, poetry and typography design, each artist draws upon
				their lived experience to explore how the languages they speak
				are used, exchanged and transformed across time. Through the
				sympathy between three modalities of practice, this exhibition
				discovers dynamic connections between the past, present and
				future of language exchange in Australia.
			</p>

			<p>
				And the word was God (神) is an immersive exploration of
				language and its appearances in a world where diverse cultures
				have the opportunity to thrive side by side with each other. It
				invites audiences to reflect upon their own experiences with
				language in order to foster dialogue and understanding on the
				path to a future of multicultural flourishing.
			</p>
			<h4>
				Time: Mon 10 Oct. – Wed 12 Oct, 2024 <br />
				Address: Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008
			</h4>
		</div>

		<div class="cn-homepage">
			<p class="CJK">
				and the word was God (神) 考察了澳大利亞漢語和英語之間的關繫。
				這是三位從事視頻藝術、詩歌和版式設計的第一代澳大利亞華人之間的合作，每位藝術家都利用自己的生活經驗來探索他們所説的語言如何隨着時間的推移而使用、交流和轉變。
				通過三種實踐方式之間的共鳴，本次展覽髮現了澳大利亞語言交流的過去、現在和未來之間的動態聯繫。
			</p>

			<p>
				and the word was God (神)
				是對語言及其在多元文化有機會共同繁榮的世界中的表現的身臨其境的探索。
				它邀請觀衆反思自己的語言經曆，以促進對話和理解，邁向多元文化繁榮的未來。
			</p>
			<h4>
				时间：2024年10月10日周一至10月12日周三<br />
				地址：Run Artist Run Gallery, 6 Waterside Pl, Docklands VIC 3008
			</h4>
		</div>
	</header>

	<img src="/public/images/homepage_img.jpg" alt="" />
</Layout>

<Logo />
<Nav />

<style>
	html {
		font-family: "Noto Sans";
		font-size: 20px;
		font-weight: 300;
		animation: html 2s infinite alternate;
		max-width: 800px;
		padding-inline: 1.5rem;
		margin-inline: auto;
		background-color: white;
	}

	body {
		padding: 0 0 5rem 0;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 80%;
		gap: 1rem;
		margin: auto;
		container-type: block-size;
	}
	main > div {
		aspect-radio: 1;
		width: 100%;
		height: 50cqi;
	}

	[lang="zh-Hans"] {
		writing-mode: vertical-lr;
	}

	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		width: 80%;
		gap: 8rem;
		margin: auto;
		justify-content: center;
		padding-inline: 1.5rem;
		margin-inline: auto;
	}

	.nav-item {
		display: grid;
		text-decoration: none;
		filter: contrast(4);
		background: #9c9c9c;
		color: #000;
		mix-blend-mode: multiply;
	}

	.nav-item > * {
		grid-column-start: 1;
		grid-row-start: 1;
		justify-self: center;
		align-self: center;
		position: relative;
		display: block;
		transition: all 2s ease-in-out;
	}

	.nav-item > [lang="zh-Hans"] {
	}

	.nav-item > [lang="en-US"] {
		opacity: 0.25;
		filter: blur(0.1em);
	}
	.nav-item > [lang="zh-Hans"] {
		opacity: 1;
		filter: blur(0);
	}
	.nav-item:hover > [lang="en-US"] {
		opacity: 1;
		filter: blur(0);
	}
	.nav-item:hover > [lang="zh-Hans"] {
		opacity: 0.25;
		filter: blur(0.1em);
	}

	h2 {
		font-family: "Noto Sans";
		font-size: 1.2rem;
		animation: h2 2s infinite alternate;
	}

	h3 {
		font-family: "Noto Sans";
		font-weight: 500;
		font-size: 1rem;
		line-height: 0.9%;
	}

	h4 {
		font-family: "Noto Sans";
		font-weight: 300;
		font-size: 1 rem;
		line-height: auto;
	}

	p {
		font-family: "Noto Sans";
		font-weight: 300;
		font-size: 1 rem;
		line-height: auto;
	}

	@keyframes h2 {
		0% {
			font-weight: 100;
			font-variation-settings: "slnt" -10;
		}

		100% {
			font-weight: 1000;
			font-variation-settings: "slnt" 0;
		}
	}

	.h2-title {
		filter: blur(3px); /* 设置初始模糊效果 */
		transition: filter 2s ease; /* 添加过渡效果以平滑变化 */
	}

	.h2-title:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	.h3-title {
		filter: blur(1.2px); /* 设置初始模糊效果 */
		transition: filter 2s ease; /* 添加过渡效果以平滑变化 */
	}

	.h3-title:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	*::selection {
		color: white;
		background: grey;
	}

	/* 2. Mix-blend-mod */

	/* LOGO */

	img {
		position: relative;
		max-width: 100%;
		height: auto;
	}

	.eng-homepage {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}

	.eng-homepage:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	.cn-homepage {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}

	.cn-homepage:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	img {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}
	img:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}
</style>
