<div class="nav-bar">
    <nav>
        <a href="/about" class="nav-item">
            <span lang="en-US">About</span>
            <span lang="zh-Hans">关于</span>
        </a>
        <a href="/artists" class="nav-item">
            <span lang="en-US">Artists</span>
            <span lang="zh-Hans">艺术家</span>
        </a>
        <a href="/archive" class="nav-item">
            <span lang="en-US">Archive</span>
            <span lang="zh-Hans">档案</span>
        </a>
    </nav>
</div>

<style>
    nav {
        font-size: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        width: 80%;
        gap: 8rem;
        margin: auto;
        justify-content: center;
        padding-inline: 1.5rem;
        margin-inline: auto;
    }

    .nav-item {
        display: grid;
        text-decoration: none;
        filter: contrast(4);
        background: #9c9c9c;
        color: #000;
        mix-blend-mode: multiply;
    }

    .nav-item > * {
        grid-column-start: 1;
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
        position: relative;
        display: block;
        transition: all 2s ease-in-out;
    }

    .nav-item > [lang="zh-Hans"] {
    }

    .nav-item > [lang="en-US"] {
        opacity: 0.25;
        filter: blur(0.1em);
    }
    .nav-item > [lang="zh-Hans"] {
        opacity: 1;
        filter: blur(0);
    }
    .nav-item:hover > [lang="en-US"] {
        opacity: 1;
        filter: blur(0);
    }
    .nav-item:hover > [lang="zh-Hans"] {
        opacity: 0.25;
        filter: blur(0.1em);
    }
</style>
