---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: "Noto Sans SC";
		font-size: 1.2rem;
		font-weight: 300;
		animation: html 2s infinite alternate;
		max-width: 800px;
		padding-inline: 1.5rem;
		margin-inline: auto;
		background-color: white;
	}

	body {
		padding: 0 0 5rem 0;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 80%;
		gap: 1rem;
		margin: auto;
		container-type: block-size;
	}
	main > div {
		aspect-radio: 1;
		width: 100%;
		height: 50cqi;
	}

	[lang="zh-Hans"] {
		writing-mode: vertical-lr;
	}

	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		width: 80%;
		gap: 8rem;
		margin: auto;
		justify-content: center;
		padding-inline: 1.5rem;
		margin-inline: auto;
	}

	.nav-item {
		display: grid;
		text-decoration: none;
		filter: contrast(4);
		background: #9c9c9c;
		color: #000;
		mix-blend-mode: multiply;
	}

	.nav-item > * {
		grid-column-start: 1;
		grid-row-start: 1;
		justify-self: center;
		align-self: center;
		position: relative;
		display: block;
		transition: all 2s ease-in-out;
	}

	.nav-item > [lang="zh-Hans"] {
	}

	.nav-item > [lang="en-US"] {
		opacity: 0.25;
		filter: blur(0.1em);
	}
	.nav-item > [lang="zh-Hans"] {
		opacity: 1;
		filter: blur(0);
	}
	.nav-item:hover > [lang="en-US"] {
		opacity: 1;
		filter: blur(0);
	}
	.nav-item:hover > [lang="zh-Hans"] {
		opacity: 0.25;
		filter: blur(0.1em);
	}

	h2 {
		font-family: "Noto Sans";
		font-size: 1.2rem;
		animation: h2 2s infinite alternate;
	}

	h3 {
		font-family: "Noto Sans";
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 0.9%;
	}

	h4 {
		font-family: "Noto Sans";
		font-weight: 300;
		font-size: 1 rem;
		line-height: auto;
	}

	h5 {
		font-family: "Noto Sans Mono";
		font-weight: 300;
	}

	p {
		font-family: "Noto Sans";
		font-weight: 300;
		font-size: 1 rem;
		line-height: auto;
	}

	@keyframes h2 {
		0% {
			font-weight: 100;
			font-variation-settings: "slnt" -10;
		}

		100% {
			font-weight: 1000;
			font-variation-settings: "slnt" 0;
		}
	}

	.h2-title {
		filter: blur(3px); /* 设置初始模糊效果 */
		transition: filter 2s ease; /* 添加过渡效果以平滑变化 */
	}

	.h2-title:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	.h3-title {
		filter: blur(1.2px); /* 设置初始模糊效果 */
		transition: filter 2s ease; /* 添加过渡效果以平滑变化 */
	}

	.h3-title:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	*::selection {
		color: white;
		background: grey;
	}

	/* 2. Mix-blend-mod */

	/* LOGO */

	img {
		position: relative;
		padding: 10px 10px 10px 10px;
		max-width: 100%;
		height: auto;
	}

	.eng-homepage {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}

	.eng-homepage:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	.cn-homepage {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}

	.cn-homepage:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}

	img {
		filter: blur(2px); /* 设置初始模糊效果 */
		transition: filter 0.3s ease; /* 添加过渡效果以平滑变化 */
	}
	img:hover {
		filter: none; /* 在悬停时移除模糊效果 */
	}
</style>
